@import-normalize; /* bring in normalize.css styles */

:root {
  font-size: 16px;
  --bg-root: #f8fafc;
  --bg-primary: #ffffff;
  --text-color: #334155;
  --primary-color: #14b8a6;
  --primary-color-hover: #0d9488;
  --font-inter: 'Inter', sans-serif;
  --shadow-xs: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--bg-root);
  font-family: var(--font-inter);
}
